body { background: #3094d9; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 11px; display: flex; }
.block-config-0 { color: #4536d; font-size: 13px; margin-bottom: 5px; }
.block-payment-1 { color: #5bf69e; font-size: 14px; margin-bottom: 5px; }
.block-filter-2 { color: #69eb58; font-size: 20px; margin-bottom: 5px; }
.block-order-3 { color: #d2c60b; font-size: 12px; margin-bottom: 5px; }
.block-email-4 { color: #4dd88c; font-size: 19px; margin-bottom: 5px; }
.block-filter-5 { color: #e0e902; font-size: 18px; margin-bottom: 5px; }